.section-about {
	padding: 5rem;
	padding-top: 8rem;
	grid-template-columns: repeat(2, 1fr);
	border: 1px solid white;
}
.about-image-container {
	margin: 0 auto;
	width: 30vw;
	aspect-ratio: 3/4;
	border-radius: 10px;
	overflow: hidden;
}
.about-image {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-image: url('/src/images/about-image.jpg');
}
.about-content-stories {
	margin-bottom: 5rem;
	background-color: var(--white);
	color: black;
}
.about-content-desc {
	line-height: 1.2;
}

.about-content-desc h1,
.about-content-desc h2 {
	font-size: 3rem;
	font-weight: 300;
}
.about-content-desc h1 {
	margin-bottom: 0.5rem;
}
.about-content-desc h2 {
	margin-bottom: 2rem;
}
.about-content-desc p {
	font-size: 1.1vw;
}
