.section-about {
	padding-top: 8rem;
	padding-inline: 2rem;
}
@media only screen and (min-width: 992px) {
	.section-about {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
		row-gap: 1rem;
		padding-top: 6rem;
		padding-inline: 3rem;
	}
}
@media only screen and (min-width: 1400px) {
	.section-about {
		margin: 0 auto;
		max-width: 1400px;
	}
}
/* main image */
.about-image-container {
	display: none;
	width: 100%;
	aspect-ratio: 3/4;
	border-radius: 10px;
	overflow: hidden;
}
.about-image {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-image: url('/src/images/profile.jpg');
}
@media only screen and (min-width: 992px) {
	.about-image-container {
		display: block;
		grid-row: 2;
		grid-column: 1;
		margin: 0 auto;
		max-width: 450px;
	}
}
/* content-stories */
.about-stories-container {
	gap: 1rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 1rem 0;
	width: 100%;
	max-width: calc(768px - 6rem);
	min-width: 305px;
	height: fit-content;
	border-radius: 10px;
	color: black;
	background-color: #fff;
	box-shadow: 6px 5px 10px rgba(255, 255, 255, 0.3);
}
.about-stories-container p {
	display: block;
	font-size: 0.8rem;
	line-height: 1.2;
}
.about-stories {
	justify-content: space-evenly;
	text-align: center;
}
.story-cover {
	margin-bottom: 0.4rem;
	padding: 2px;
	width: 3rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background: linear-gradient(
		180deg,
		rgba(34, 113, 195, 1) 0%,
		rgba(45, 189, 253, 1) 47%
	);
	cursor: pointer;
}
.story-cover-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	border: 2px solid var(--white);
}
.story-work .story-cover-image {
	background-image: url('/src/images/stories/work2.jpg');
	background-position: center;
}
.story-teaching .story-cover-image {
	background-image: url('/src/images/stories/teaching1.jpg');
}
.story-goodTimes .story-cover-image {
	background-image: url('/src/images/stories/goodTimes1.jpg');
	background-position: bottom;
}
.story-vibes .story-cover-image {
	background-image: url('/src/images/stories/vibes1.jpg');
}
.story-title {
	font-size: 0.5rem;
}
.story-modal-container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	aspect-ratio: 2/3;
	border-radius: 10px;
	z-index: 6;
	cursor: pointer;
}
.story-modal-progress {
	width: 100%;
	top: 10px;
	gap: 10px;
	padding: 5px 10px;
}
.story-modal-progress-bar {
	position: relative;
	width: 100%;
	height: 8px;
	border-radius: 10px;
	background-color: rgba(213, 213, 213, 0.5);
}
.story-modal-progress-bar span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 10px;
	background-color: #fff;
}
.story-modal-image {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}
.story-teaching .story-modal-image {
	background-image: url('/src/images/stories/teaching1.jpg');
}
.story-goodTimes .story-modal-image {
	background-image: url('/src/images/stories/goodTimes1.jpg');
}
.story-vibes .story-modal-image {
	background-image: url('/src/images/stories/vibes1.jpg');
}
.story-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 5;
	cursor: pointer;
}

@media only screen and (min-width: 576px) {
	.about-stories {
		justify-content: center;
		gap: 1.5rem;
	}
	.about-stories-container p {
		font-size: 1rem;
	}
	.story-cover {
		width: 4.5rem;
	}
	.story-title {
		font-size: 0.8rem;
	}
}
@media only screen and (min-width: 768px) {
	.story-modal-container {
		width: 400px;
	}
}
@media only screen and (min-width: 992px) {
	.about-stories-container {
		grid-row: 1;
		grid-column: span 2;
		max-width: inherit;
		margin-bottom: 0;
	}
	.story-cover {
		width: 5rem;
	}
	.story-title {
		font-size: 0.8rem;
	}
}

@media only screen and (min-width: 1400px) {
	.about-stories-container {
		max-width: calc(1400px - 6rem);
	}
	.about-stories-container p {
		font-size: 1.2rem;
	}
	.story-cover {
		width: 5.5rem;
	}
	.story-title {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 1200px) {
	.about-stories-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-inline: 3rem;
	}
}
/* content-desc */
.about-content-container {
	gap: 3rem;
	align-items: center;
}
.about-title {
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 500;
	color: var(--orange);
}
.about-bold-text {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
	color: var(--green);
}
.about-text {
	font-weight: 300;
	font-size: 0.8rem;
	line-height: 1.5;
	max-width: 680px;
}
.about-text:not(:last-of-type) {
	margin-bottom: 1rem;
}
.about-text em {
	font-weight: 500;
	color: var(--orange);
}
@media only screen and (min-width: 576px) {
	.about-title {
		font-size: 1.5rem;
	}
	.about-bold-text {
		font-size: 2.5rem;
	}
	.about-text {
		font-size: 1rem;
	}
}
@media only screen and (min-width: 992px) {
	.about-title {
		font-size: 2rem;
	}
	.about-bold-text {
		font-size: 3rem;
	}
}
@media only screen and (min-width: 1400px) {
	.about-title {
		font-size: 2.5rem;
	}
	.about-bold-text {
		font-size: 3.5rem;
		margin-bottom: 2rem;
	}
}

/* content-skills */
.about-content-skills {
	width: 100%;
	max-width: 680px;
}
.skills {
	gap: 2rem;
	justify-content: space-evenly;
}
.skill {
	font-size: 0.7rem;
}
.skill i {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}
@media only screen and (max-width: 575px) {
	.skills {
		gap: 1rem;
	}
	.skill i {
		font-size: 2rem;
	}
}
