/******************* Hero Section *******************/
.hero {
	height: 400vh;
}
.sticky-hero {
	top: 0;
	height: 100vh;
}
/******* title *******/
.hero-text {
	font-size: 8vw;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
}

/******* marquee *******/
.marquee-container {
	width: 120%;
	left: -5rem;
	bottom: 3%;
	padding: 1rem;
	white-space: nowrap;
	color: black;
}

.marquee-1 {
	transform: rotate(3deg);
	background-color: #b5fe83;
}
.marquee-2 {
	transform: rotate(-5deg);
	background-color: #ffe61b;
}
.marquee-slide {
	display: inline-block;
	animation: scroll 8s linear infinite;
}
.marquee-2 .marquee-slide {
	animation-direction: reverse;
}
.marquee-text {
	display: inline-block;
	padding: 0 2rem;
	font-size: 2.2vw;
	font-weight: 700;
	text-transform: uppercase;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
/******* cube *******/
.cube-container {
	perspective: 10000px;
}

.cube {
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
}
.card {
	position: absolute;
	width: 300px;
	height: 300px;
	text-align: center;
	padding: 100px 0;
}

.profile-card {
	position: absolute;
	width: 200px;
	height: 250px;
	background-color: #fff;
	padding: 1rem;
	text-align: center;
}
#front {
	background-color: var(--lightYellow);
	transform: translateZ(150px);
}
#back {
	background-color: var(--yellow);
	transform: translateZ(-150px);
}
#left {
	right: 150px;
	background-color: var(--lightGreen);
	transform: rotateY(90deg);
}
#right {
	left: 150px;
	background-color: var(--purple);
	transform: rotateY(-90deg);
}
#top {
	bottom: 150px;
	background-color: var(--green);
	transform: rotateX(90deg);
}
#bottom {
	top: 150px;
	background-color: var(--blue);
	transform: rotateX(-90deg);
}
#profile {
	left: 50px;
	transform: rotateY(45deg) rotateX(50deg) rotateX(-10deg) translateZ(30px);
}

.photo-frame-image {
	background: url('/src/images/cards/card-4.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 85%;
	margin-bottom: 0.5rem;
}
.photo-frame-text {
	font-size: 1rem;
	color: black;
}
/******* text *******/
.cube-text-container {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.cube-text {
	padding: 1rem 2rem;
	color: #000;
	background-color: var(--yellow);
	font-size: 2vw;
	border-radius: 20px;
}
/******************* Hero Section *******************/

.page-2 {
	height: 200vh;
}
.sticky-page-2 {
	top: 0;
	height: 100vh;
}

.page2-text {
	width: 80%;
	font-size: 5vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.2;
}
.page2-text-transparent {
	color: transparent;
	-webkit-text-stroke: 2px black;
}
.page2-circle {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #ffe61b;
}
