/******************* Hero Section *******************/
.section-hero {
	height: 100vh;
}
.hero-heading {
	top: 20%;
	height: 70%;
}
.hero-main-text {
	font-size: 12rem;
}
.hero-main-top-text {
	top: -12%;
}
.hero-main-bottom-text {
	bottom: -10%;
}
.text-transparent {
	-webkit-text-stroke: 2px var(--white);
	color: transparent;
}
.hero-main-middle {
	gap: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hero-main-middle h1 {
	font-size: 1.2rem;
	margin-bottom: 10rem;
	letter-spacing: 2px;
}
.hero-main-middle h1:last-of-type {
	margin-bottom: 9rem;
}
.hero-main-middle-image {
	width: 500px;
	aspect-ratio: 3/4;
	overflow: hidden;
}

.hero-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/src/images/profile.jpg');
}
.marquee-container {
	width: 120%;
	left: -5rem;
	top: 50%;
	padding: 1rem;
	white-space: nowrap;
	color: var(--black);
	z-index: -1;
}
.marquee-1 {
	transform: rotate(5deg);
	background-color: var(--green);
}
.marquee-2 {
	transform: rotate(-7deg);
	background-color: var(--orange);
}
.marquee-slide {
	display: inline-block;
	animation: scroll 10s linear infinite;
}
.marquee-2 .marquee-slide {
	animation-direction: reverse;
}
.marquee-text {
	display: inline-block;
	padding: 0 1.5rem;
	font-size: 1.5vw;
	font-weight: 500;
	text-transform: uppercase;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
.slide-one {
	height: 200vh;
}
.sticky-slide-one {
	top: 0;
	height: 100vh;
}
.slide-one-text {
	width: 80%;
	font-size: 5vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	line-height: 1.2;
}
.slide-one-text-transparent {
	color: transparent;
	-webkit-text-stroke: 2px var(--black);
}
.slide-one-circle {
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--yellow);
}
.slide-one-title {
	font-size: 1.5vw;
	color: var(--black);
	top: 85%;
	transform: translate(-50%, -50%);
	left: 50%;
}
