.circle {
	width: 400px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #8196ad;
	top: -20%;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}
.profile {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: url('/src/images/profile.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.intro-text {
	position: relative;
	height: 20rem;
	font-size: 10rem;
	font-family: 'Knight Vision', sans-serif;
}
.intro-text h1 {
	bottom: 0;
	width: 100%;
}
.intro-text h1:last-child {
	text-align: right;
}
