.work {
	height: 800vh;
	color: black;
}
.projects {
	top: 0;
	height: 100vh;
}
.project {
	overflow-x: hidden;
	grid-template-rows: repeat(2, 1fr);
	width: 100%;
}
.project-two,
.project-three,
.project-four {
	left: 100%;
}
.project-content-container {
	padding-left: 2rem;
}
.project-index {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}
.project-skills {
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 0.2rem;
}
.project-skills li {
	margin-left: 0.2rem;
}
.project-title {
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.project-desc {
	margin-bottom: 1rem;
	min-width: 450px;
	padding-inline: 1.5rem 2rem;
	line-height: 1.5;
}
.project-desc li {
	font-size: 14px;
	list-style: disc;
	margin-bottom: 0.5rem;
}
.project-desc li em {
	font-weight: 600;
}
.project-links {
	gap: 1.5rem;
}
.project-links a {
	padding: 0.8rem 1.5rem;
	font-size: 0.9rem;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}
.project-links a:hover {
	background-color: var(--black);
	color: white;
}
.project-image-container {
	display: flex;
	justify-content: center;
	align-self: center;
	padding-top: 5rem;
}
.project-image-container .image {
	width: 65vw;
	aspect-ratio: 1;
}
.project-one {
	background-color: #91dc71;
}
.project-one .image {
	background: url('/src/images/projects/fictional.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.project-two {
	background-color: #ffe577;
}
.project-two .image {
	background: url('/src/images/projects/acnh-player.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.project-three {
	background-color: var(--blue);
}
.project-three .image {
	background: url('/src/images/projects/wetube.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.project-four {
	background-color: var(--pink);
}
.project-four .image {
	background: url('/src/images/projects/netflix.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
@media only screen and (max-width: 575px) {
	.project-image-container {
		padding-top: 1rem;
	}
	.project-content-container {
		padding: 1rem;
	}
	.project-index {
		font-size: 2rem;
	}
	.project-skills {
		font-size: 0.7rem;
	}
	.project-title {
		font-size: 2.2rem;
	}
	.project-desc {
		min-width: 300px;
		line-height: 1.2;
	}
	.project-desc li {
		font-size: 12px;
	}
	.project-links a {
		padding: 0.8rem 1rem;
		font-size: 0.8rem;
	}
}

@media only screen and (min-width: 768px) {
	.project-index {
		font-size: 3rem;
	}
	.project-skills {
		font-size: 1.1rem;
		text-transform: uppercase;
		margin-bottom: 0.2rem;
	}
	.project-title {
		font-size: 3.5rem;
	}
	.project-desc {
		max-width: 800px;
	}
	.project-desc li {
		font-size: 1rem;
	}
	.project-image-container .image {
		width: 50vw;
		aspect-ratio: 1;
	}
}
@media only screen and (max-width: 991px) {
	.work {
		height: 400vh;
		color: black;
	}
	.projects {
		position: inherit;
	}
	.project {
		position: inherit;
		transform: translateX(0) !important;
	}
	.project-two,
	.project-three,
	.project-four {
		left: inherit !important;
	}
}
@media only screen and (min-width: 992px) {
	.project-title {
		margin-bottom: 3rem;
	}
	.project {
		grid-template-rows: inherit;
		grid-template-columns: repeat(2, 1fr);
	}
	.project-content-container {
		justify-content: center;
	}
}
@media only screen and (min-width: 1400px) {
	.project-index {
		font-size: 3.5rem;
	}
	.project-skills {
		font-size: 1.2rem;
	}
	.project-title {
		font-size: 4.5rem;
		margin-bottom: 2rem;
	}
	.project-desc {
		max-width: 750px;
	}
	.project-desc li {
		font-size: 1.2rem;
	}
	.project-image-container .image {
		width: 700px;
		aspect-ratio: 1;
	}
}
