.work {
	height: 800vh;
	color: black;
}
.projects {
	top: 0;
	height: 100vh;
}
.project {
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}
.project-two,
.project-three,
.project-four {
	left: 100%;
}

.project-content-container {
	padding-inline: 3rem;
}
.project-index {
	margin-bottom: 3rem;
	font-size: 3vw;
}
.project-skills {
	font-size: 1.1vw;
	font-weight: 500;
	text-transform: uppercase;
}
.project-skills li {
	margin-left: 0.2rem;
}
.project-title {
	margin-bottom: 0.5rem;
	font-size: 4.5vw;
	font-weight: 600;
}
.project-subtitle {
	margin-left: 0.2rem;
	margin-bottom: 3rem;
	font-size: 1.5vw;
}
.project-desc {
	margin-bottom: 3rem;
	font-size: 1.1vw;
	line-height: 1.5;
}
.project-links {
	gap: 1.5rem;
}
.project-links a {
	padding: 0.8rem 1.5rem;
	font-size: 0.9rem;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}
.project-links a:hover {
	background-color: black;
	color: white;
}
.project-one {
	background-color: #6ac93a;
}
.project-one .image {
	width: 50vw;
	height: 50vw;
	background: url('/src/images/projects/fictional.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.project-two {
	background-color: #fff48f;
}
.project-two .image {
	width: 18vw;
	height: 36vw;
	margin: 0 auto;
	background: url('/src/images/projects/acnh-player.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.project-three {
	background-color: #2fa4ff;
}
.project-three .image {
	width: 40vw;
	height: 40vw;
	margin: 0 auto;
	background: url('/src/images/projects/wetube.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.project-four {
	background-color: #ff1818;
}
.project-four .image {
	width: 30vw;
	height: 45vw;
	margin: 0 auto;
	background: url('/src/images/projects/netflix.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
